* {
    margin: 0;
    padding: 0;
}
/*Стили для header*/
.container {
    width: 1920px;
    margin: 0 auto;
}
header {
    width: 1920px;
    height: 110px;
    background: #efece7 url("../images/logo.png") no-repeat center;
    margin-bottom: 20px;
}
ul.nav-left {
    margin: 45px 0 0 159px;
}
ul.nav-right {
    float: right;
    margin: 43px 128px 0 0;
}
ul.nav-left, ul.nav-right {
    display: inline-block;
}
ul.nav-left li, ul.nav-right li, ul.gallery li {
    display: inline-block;
}
ul.nav-left li {
    text-transform: uppercase;
    font: 700 13px/20px 'PT Sans', arial;
    color: #000000;
}
ul.nav-right li a{
    text-decoration: none;
    font: bold 13px/22px 'PT Sans', arial;
    color: #000000;
    border-right: 1px solid #cccccc;
    height: 20px;
    margin-right: 12px;
    padding-right: 11px;
}
ul.nav-right li:last-child {
    border: 0;
}
li#sign-in {
    padding-left: 17px;
    background: url("../images/sign-in.png") no-repeat left;
}
li#basket {
    padding-left: 24px;
    background: url("../images/basket.png") no-repeat left;
}
li#bookmarks {
    padding-left: 17px;
    background: url("../images/bookmarks.png") no-repeat left;
}
#bookmarks a {
    border: 0;
}

#sign-in a:before {
    content: "";
    height: 11px;
    width: 8px;
    background: url("../images/sign-in.png")  ;
    z-index: 20;
}
form#form {
    outline: none;
    margin-left: 25px;
}
#form input {
    text-transform: uppercase;
    font: 700 13px/20px 'PT Sans', arial;
    color: #000000;
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: 5px;
}
#form input[type="text"]:focus {
    outline: none;
}
#nav-btn{
    display: inline-block;
    content: url("../images/button-menu.png");
    margin-right: 10px;
    cursor: pointer;
}
/*Стили для слайдера*/

.item {
    background:  #eb3d01;
    text-align: center;
    height: 300px !important;
}
.item img {
    display: block;
    margin: 0 auto;
}
.carousel-indicators li:hover {
    background-color: #00c4e0;
}

/*стили для второго меню*/
#middle-menu {
    z-index: 150;
}
.second-menu {
    margin: 65px 0 0 140px;
}
ul.second-menu li {
    display: inline-block;
}
ul.second-menu a {

    margin: 20px;
    font-family: 'PTSans', Arial;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
.second-menu a {
    text-decoration: none;
    border-bottom: 1px dotted black;
}
.second-menu a:hover {
    padding: 20px;
    margin: 0;
    text-decoration: none;
    border-bottom: none;
    background-color: #e9e9e7;
    width: 118px;
    height: 51px;
    color: #666666;
}
/*Стили для книг*/
.products table {
    width: 1700px;
    margin: 20px 0 0 120px;
    border-collapse: inherit;
    border-spacing: 20px;
}
th {
    width: 220px;
    height: 320px;
}
/*Стили для синего блока*/
.blue-block {
    background-color: #050c42;
    width: 1920px;
    height: 300px;
    margin-top: 40px;
}
